recursive-include dask_sphinx_theme *.py
recursive-include dask_sphinx_theme *.html
recursive-include dask_sphinx_theme *.css
recursive-include dask_sphinx_theme *.svg
recursive-include dask_sphinx_theme *.png
recursive-include dask_sphinx_theme *.ico
recursive-include dask_sphinx_theme *.conf

include setup.py
include requirements.txt
include README.rst
include LICENSE.txt
include MANIFEST.in
