@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700");

:root {
  /* Main colors */
  --yellow: #ffc11e;
  --white: #fff;
  --blue: #1f5aff;
  --dark-blue: #183d72;
  --light-grey: #f6f6f6;
  --grey: #33363d;
  --dark-grey: #262326;
  --black: #080815;
  --green: #17955c;
  --salmon: #fc6e6b;
  --red: #ef1161;
  --purple: #f61fff;
  --pst-color-text-base: var(--black);
  --pst-color-navbar-link: var(--yellow);
  --pst-color-link: var(--black);
  --pst-color-link-hover: var(--yellow);
  --pst-color-inline-code: var(--salmon);

  /* Font Family */
  --pst-font-family-base-system: Inter;
  --pst-font-family-monospace-system: Inconsolata;
  --pst-font-family-base: var(--pst-font-family-base-system);
  --pst-font-family-heading: var(--pst-font-family-base);
  --pst-font-family-monospace: var(--pst-font-family-monospace-system);
}
