name: Push to PyPI

on:
  push:
    tags:
      - "*"

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install dask-sphinx-theme
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .

      - name: Build dask-sphinx-theme dist
        run: |
          python -m pip install wheel twine
          python setup.py sdist bdist_wheel

      - name: Publish dask-sphinx-theme
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.pypi_token }}
